 @import url('https://fonts.googleapis.com/css2? família= Roboto &family= Titillium+Web & display=swap');

/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

header{
    background-color: #110606;
    height:91px;
    
}

.container-grid{
    width: 1200px;
    margin: 0 auto;
}

.cabecalho{
    height: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;

}

.menu a{
    color: white;
    text-decoration: none;
    text-transform:uppercase;
}

.menu{
    width: 700px;
    display: flex;
    justify-content: space-between;
}


/* Banner */


.banner{
    
    height:427px;
    background:url(img/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}   

.conteudo_banner{
    width: 437px;
    height: 222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteudo_banner a{
   
    padding: 13px;
    font-family: "roboto";
    text-decoration: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    display: inline-block;
    background-color:#960706;
    border-radius: 8px;
    width: 220px;
    height: 61px;
    text-align: center;
    
}


.posicionamento_banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;


}

.conteudo_banner h1{
    width: 100%;
    font-family: "Roboto";
    font-style: oblique;
    text-decoration: none;
    font-size: 66px;
    
    color:white;
 }

 .conteudo_banner p{
    width: 100%;
    text-decoration: none;
    font-family: "roboto";
    font-size: 25px;
    color:white;
 }

/*jogos*/

 .jogos{
    height: 121px;
    background-color: #110606;
  
} 

.posicionamento_jogos{
    height: 100%;
     }


.posicionamento_card{
    width: 100%;
    height:100%;
    padding-top: 10px;
    
} 

.container{
    max-width: 1200px;
}






.card{
    width: 100%;
    height:798px;
    margin-top: 0px;
    background-color:#131111;
    
} 

.titulo_jogos{
    text-decoration: none;
    font-size: 27px;
    display: inline-block;
    margin-top:  0px;
    color:white;
 }

.card_um{
    width: 215px;
    height: 333px;
    margin-top: 16px;
    background:url(img/Rectangle_card.png);
    background-repeat: no-repeat;
    background-position: center;
      
} 

.imagem_jogo{
    width: 215px;
    height: 165px;
    margin-top: 0px;
    background:url(img/Imagem_jogo.png);
    background-repeat: no-repeat;
    background-position: center;
      
} 

